.body {
  text-align: center;
}

.sammy {
  height: 200px;
  width: auto;
  margin: 50px;
}

.sammy:hover {
  animation:wiggle 3s infinite;
}

@keyframes wiggle {
  0% { transform: scale(1.2) rotate(7deg); }
  10% { transform: scale(1.2) rotate(-7deg); }
  20% { transform: scale(1.2) rotate(7deg); }
  30% { transform: scale(1.2) rotate(-7deg); }
  40% { transform: scale(1.2) rotate(7deg); }
  50% { transform: scale(1.2) rotate(-7deg); }
  60% { transform: scale(1.2) rotate(7deg); }
  70% { transform: scale(1.2) rotate(-7deg); }
  80% { transform: scale(1.2) rotate(7deg); }
  90% { transform: scale(1.2) rotate(-7deg); }
  100% { transform: scale(1.2) rotate(7deg); }
}
